<!-- <div>
    <h1 class="title"> Title:  {{ animals? animals.title: "" }}  </h1>
    <div class="description"> <b>Description: </b>  {{ animals? animals.description:"" }} </div> <br>
    <div class="creator"> <b>Creater:</b>  {{ animals? animals.creator:"" }}</div> <br>
    <div class="type" *ngIf="animals? animals.type  :''"> <b>Type:</b>  {{ animals?  animals.type :"" }} </div> <br>
    <div><img class="img" *ngIf="animals? animals.imgURL  :''"  [src]='animals? animals.imgURL  :""' (click)="displayAnimals()"/></div>
</div> -->

<!-- Assignment 3 Work -->
<div class="type">{{ animals | filterTypePipe }}</div>

