:host {
 
    display: block;
    border: 1px solid brown;
    margin-right: 40px;
    padding-left: 30px;
    padding-right: 10px;
    margin-top: 20px;
    margin-left: 20px;
    
    .img {
        width: 350px;
        height: 300px;
        margin-top: 10px;
    }
}

:host.is-first{
    border: black solid 2px;
}