<!-- <div *ngIf="animals">
    <h1 class="title"> Title :  {{ animals?.title }}  </h1>
    <h3 class="id"> <b>ID : </b> {{ animals?.id }}  </h3>
    <div class="description"> <b>Description : </b>  {{ animals?.description }} </div> <br>
    <div class="creator"> <b>Creater :</b>  {{ animals?.creator }}</div> <br>
    <div class="type" *ngIf=" animals?.type " appHoverAffect eVal="type"> <b>Type :</b>  {{ animals?.type }} </div><br>
    <div class="tags" *ngIf="animals?.tags">
        <span class="tags" appHoverAffect class="tag" *ngFor="let tag of animals?.tags">#{{ tag }}</span>
    </div><br>
    <div [ngSwitch] = 'animals?.imgURL'>
        <span *ngSwitchCase="null"><img class="img" src="https://m.media-amazon.com/images/I/71Qb6yqg1ML._AC_SX679_.jpg"></span>
        <span *ngSwitchDefault><img class="img" *ngIf="animals?.imgURL"  [src]='animals?.imgURL' /></span>
    </div><br>
</div> -->

<div *ngIf="animals" class="animal-{{animals?.id}}">
    <mat-card class="example-card">
        <mat-card-title>{{ animals?.title }}</mat-card-title><br>
        <mat-card-subtitle>{{ animals?.id }}</mat-card-subtitle>
        <!-- <mat-card-content>{{ animals?.description }}</mat-card-content> -->
        <mat-card-content>{{ animals?.creator }}</mat-card-content>
        <mat-card-content *ngIf=" animals?.type " appHoverAffect eVal="type">{{ animals?.type }}</mat-card-content>
        <mat-card-content class="tags" *ngIf="animals?.tags">
            <mat-card-content appHoverAffect class="tag" *ngFor="let tag of animals?.tags"> #{{ tag }}</mat-card-content>
        </mat-card-content>
        <mat-card-content [ngSwitch] = 'animals?.imgURL'>
            <mat-card-content *ngSwitchCase="null"><img mat-card-image class="img" src="https://m.media-amazon.com/images/I/71Qb6yqg1ML._AC_SX679_.jpg"></mat-card-content>
            <mat-card-content *ngSwitchDefault><img mat-card-image class="img" *ngIf="animals?.imgURL"  [src]='animals?.imgURL'></mat-card-content>
        </mat-card-content>
        <a [routerLink]="['/content', animals?.id ?? 0]" routerLinkActive="active">
            Animal Detail
        </a>
    </mat-card>
</div>