:host {
    display: block;
    margin: 16px auto;
    padding: 8px;
    width: 500px;
    text-align: center;
    
    .img {
        width: 300px;
        height: 300px;
    }
}

:host.typeOne {
    color: rgb(243, 85, 85);
    border: 3px solid red;

}

:host.typeTwo {
    color:dodgerblue ;
    border: 3px solid dodgerblue;
}

:host.typeThree {
    color:  green;
    border: 3px solid green;
}