<div class="side-nav">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home Page
    </a><br />
    <a routerLink="list" routerLinkActive="active">
        Animals List
    </a><br />
    <div class="side-nav-child">
        <a routerLink="content/42" routerLinkActive="active">
            Animal Detail
        </a><br />
    </div>
    <a routerLink="pagewillnotbefound" routerLinkActive="active">
        Invalid page link
    </a><br>
</div>

<div id="content-wrapper">
    <router-outlet>
        <button mat-raised-button color="primary"  style="align-items: center;">
            Check for Update
        </button>
    </router-outlet>
</div>