<!-- <p>create-content works!</p> -->
<h1>Add new Animal in the List</h1>
<div>
    Id* : <input #id>
</div><br>
<div>
    Title* : <input #title>
</div><br>
<div>
    Description* : <input #description>
</div><br>
<div>
    Creator* : <input #creator>
</div><br>
<div>
    Image* : <input #imgURL>
</div><br>
<div>
    Type : <input #type>
</div><br>
<div>
    Tags : <input #tags>
</div><br>
<div>
    <button (click)="addAnimal(id.value, title.value, description.value, creator.value,imgURL.value, type.value, tags.value)" id="button">Add Animal</button>
</div>
<p class="flag">{{ message }}</p>