:host {
    display: block;
    margin: 16px auto;
    padding: 25px;
    width: 500px;
    text-align: center;
    border: 5px solid rgb(8, 124, 233);
    box-shadow: rgb(160, 146, 132) 10px 20px 15px;
    background-color: azure;

    .img {
        width: 500px;
        height: 350px;
    }

    .tag{
        display: inline-block;
        border: 2px solid black;
        background-color: #f5dceb;
        margin: 10px;
        padding: 10px;
    }

    h1{
        color: rgb(7, 117, 243);
    }
}

:host.message {
    font-size: large;
    color:rgb(214, 10, 112);
    border: 1px solid black;
    display: block;
    padding-bottom: 20px;
}