:host {
        display: block;
        margin: 16px auto;
        padding: 8px;
        width: 500px;
        text-align: center;
    .flag {
        color: green;
        font-size: 18px;
    }

    .noFlag {
        color: red;
        font-size: 18px;
    }

    .input, h1 {
        margin: 5px auto;
        padding: 8px;
        text-align: center;
        color:darkmagenta ;
    }

    .button {
        margin: 10px;
        background-color: bisque;
        padding: 3px 15px;
    }
}