<app-modify-content (newAnimalEvent)="addAnimalToList($event)"></app-modify-content>
<app-app-messages class="message"></app-app-messages> 
<br /><br />

<h1>All Types of Animals</h1>
<app-card *ngFor=' let item of arrayOfAnimals; index as i; first as isFirst; let last as isLast' [animals]=item [class.first-item]="isFirst" [class.last-item]="last" class="typeAll" appHoverAffect></app-card><br><br>
<mat-divider style="width: 520px;"></mat-divider>

<h1>Animals from Mammal type :</h1>
<app-card *ngFor=' let item of arrayOfAnimals | filterTypePipe : "Mammal"; index as i; first as isFirst; let last as isLast' [animals]=item [class.first-item]="isFirst" [class.last-item]="last" class="typeOne" appHoverAffect></app-card><br><br>
<mat-divider style="width: 520px;"></mat-divider>

<h1>Animals from Bird type :</h1>
<app-card *ngFor=' let item of arrayOfAnimals | filterTypePipe : "Bird"; index as i; first as isFirst; let last as isLast' [animals]=item [class.is-first]="isFirst" [class.last-item]="last" class="typeTwo" appHoverAffect></app-card><br><br>
<mat-divider style="width: 520px;"></mat-divider>

<h1>Animals from no type value assign :</h1>
<app-card *ngFor=' let item of arrayOfAnimals | filterTypePipe ; index as i; first as isFirst; let last as isLast' [animals]=item [class.is-first]="isFirst" [class.last-item]="last" class="typeThree" appHoverAffect></app-card>