:host {
    .animal {
        border: 1px solid black;
        margin: 20px;
        padding: 10px;
    }
    
    .first-item {
        border: 2px solid black;
    }

    .Mammal {
        color: red;
    }

    .Bird {
        color: #385CFF;
    }

    .Mammalia {
        color: yellow;
    }

    input {
        margin-right: 20px;
    }
}