:host {
    display: block;
    margin: 16px auto;
    padding: 8px;
    text-align: center;

    h1{
        color: rgb(7, 117, 243); 
    }
    a{
        padding-right: 20px;
        font-size: large;
    }
}
